/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
 @import url("http://fonts.googleapis.com/css?family=Montserrat");
 @import url("http://fonts.googleapis.com/css?family=Roboto+Slab");
/*
 * Nib provides a CSS reset
 */
 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
 a {
  color: #aaa;
}
body {
  font-family: 'Roboto Slab';
  background-color: #222;
  color: #ccc;
}
.canvii {
  position: fixed;
  top: 0px;
}
#output {
  position: fixed;
  top: 0px;
}
.tweetButton {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background-image: url("images/twitterLogoFadeSmall.png");
}
.tweetButton:hover {
  background-image: url("images/twitterLogoSmall.png");
}
.title {
  font-family: 'Roboto Slab';
  position: absolute;
  color: #7dc5ff;
  font-size: 36px;
  top: 5px;
  left: 5px;
  z-index: 50;
}
.subtitle {
  position: absolute;
  color: #ccc;
  top: 42px;
  left: 5px;
  margin-left: 10px;
  z-index: 50;
}
.buttons {
  position: absolute;
  z-index: 100;
}
footer {
  color: #ccc;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 500px;
  margin: 10px auto;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 13px;
}
