body {
	background-color: #000;
	overflow:hidden;
}

.play {
	position: absolute;
	width: 100px;
	color: #fff;
	height: 100px;
	font-size: 42px;
	background-color: #0f0;
	left:100px;
	top:100px;
	text-align:center;
}

.pause {
	left:220px;
	top:100px;
	position: absolute;
	width: 100px;
	color: #fff;
	height: 100px;
	font-size: 42px;
	background-color: #f00;
	text-align:center;
}

.fade {
	left: 340px;
	top:100px;
	position: absolute;
	width:100px;
	color:#fff;
	height:100px;
	font-size:30px;
	background-color: #11a;
	text-align: center;
}

.option {
	color:#ffa;
	position: absolute;
	bottom:20px;
	left:20px;
}