/*@import url("http://fonts.googleapis.com/css?family=Montserrat");
 @import url("http://fonts.googleapis.com/css?family=Roboto+Slab");
 */
 @font-face{
 	font-family:'Roboto Slab';
 	src:url('../fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
 }

 body {
 	font-family: 'Roboto Slab';
 	background-color: #222; 
 	overflow:hidden;
 	border:0px;
 	padding:0px;
 	margin:0px;
 		cursor:none;

 }


 .gradientLeft {
 	/* positions of the left and right gradients set in js */
 	/* NOTE: GRADIENT COLOR SHOULD MATCH BODY BG COLOR */
 	/* NOTE: GRADIENT COLOR SHOULD MATCH BODY BG COLOR */
 	background:linear-gradient(to right, transparent,#333);
	position:absolute;
 	z-index:100;
 }

 .gradientRight {
 	/* NOTE: GRADIENT COLOR SHOULD MATCH BODY BG COLOR */
 	/* NOTE: GRADIENT COLOR SHOULD MATCH BODY BG COLOR */
 	background:linear-gradient(to left, transparent,#333);
 	position:absolute;
 	z-index:100;
 }

 .mainblock {
 	padding:0px;
 	border:0px;

 }

 .canvii {
 	padding:0px;
 	border:0px;
 }

 .clock {
 	position: absolute;
 	width: 400px;
 	color: #fff;
 	height: 150px;
 	font-size: 110px;
 	opacity: 1;
 	text-align:center;
 }

 /* lettering stuff */
 .char1 {
 	float:left;
 	width:65px;
 }
 .char2{
 	float:left;
 	width:65px;
 }
 .char3{
 	float:left;
 	width:65px;
 }
 .char4{
 	float:left;
 	width:20px;
 }
 .char5{
 	float:left;
 	width:65px;
 }
 .char6{
 	float:left;
 	width:65px;
 }


 .ListFader {
 	position: absolute;
 	width: 100%;
 	text-align: right;
 	color: #eee;
 	height: 100px;
 	font-size: 32px;
 	opacity: 1;
 	/*background-color:#aa3;*/
 }

 .FaderListItem {
 	color:#fff;
 	font-size:32px; /* base 16 */
 	height:50px; /* base 30 note that this determines the spacing of these divs */
 	overflow:hidden;
 	text-align:right;
 }

 #dummy {
 	display:none;
 	color:#3af;
 }

 .hash {
 	left:853px;
 	bottom:120px;
 	font-size:25px;
 	color:white;
 	position:absolute;
 }
