

extend layout

block content

  script(type='text/javascript').
      var defTogJSON =!{JSON.stringify(defTogJSON)}
    
  .mainblock

    
    .title
      p
        | Time of the Game
    
    .subtitle
      p
        | was supposed to start at kickoff.

    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script.

      console.log("GOT JSON." + JSON.stringify(defTogJSON))

