

extend layout

block content

  script(type='text/javascript').
      var defInput =!{JSON.stringify(defInput)}
      var defCorpus =!{JSON.stringify(defCorpus)}
      var deepLink = "test"  

  .mainblock

    
    .title
      p
        | Time of the Game
    
    .subtitle
      p
        | starts at the drop of the ball.

    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script.

  