doctype html
html
  head
    title #{title} - The Time of the Game
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .main-content
        block content
    .sidebar
      block sidebar
    footer
      | Collaboration by 
      | <a href="http://twitter.com/tejucole"> Teju Cole </a>
      | & 
      | <a href="http://twitter.com/blprnt"> Jer Thorp </a>